pkgbase = keqdroid-bin
	pkgdesc = Material 3 proxy and VPN client supporting Sing-box, Xray and Mihomo
	pkgver = 0.26.0
	pkgrel = 1
	url = https://github.com/Lemonochka/keqdroid
	arch = x86_64
	license = GPL-3.0-or-later
	depends = at-spi2-core
	depends = cairo
	depends = fontconfig
	depends = gdk-pixbuf2
	depends = gtk3
	depends = harfbuzz
	depends = hicolor-icon-theme
	depends = libayatana-appindicator
	depends = libepoxy
	depends = pango
	optdepends = polkit: TUN mode authentication agent
	optdepends = zenity: GUI dialogs
	optdepends = xdg-desktop-portal-gtk: desktop portal backend
	optdepends = xdg-desktop-portal-kde: desktop portal backend for KDE
	optdepends = xdg-desktop-portal-gnome: desktop portal backend for GNOME
	optdepends = gnome-shell-extension-appindicator: tray icon support for GNOME
	provides = keqdroid
	conflicts = keqdroid
	source = keqdroid-bin-0.25.1.deb::https://github.com/Lemonochka/keqdroid/releases/download/v0.25.1/keqdroid_0.25.1_amd64.deb
	sha256sums = c0b0c75cf502a6a2d8acb598d988946c2540d009924f722098e35a9ba6cf606a

pkgname = keqdroid-bin
